.comment-box{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  margin-bottom: 30px;
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}
#block-sitebranding-2 img{
    height: 60px;
}
